@charset "UTF-8";

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c8ecf5;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    color: rgb(0, 127, 150);
    padding: 20px;
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom, #86c4d3, #b5dae2, #c8ecf5);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 127, 150, 0.589);
    text-align: center;
    font-size: 23px;
}

main {
    background-color: #e5f2f5;
    margin: auto;
    text-align: center;
    width: 700px;
    height: 600px;
    border-radius: 20px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: rgb(0, 127, 150);
}

input {
    color: rgba(0, 49, 58, 0.589);
    padding: 20px;
    border-radius: 20px;
    background-color: #c3e8f1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #e5f2f5;
    
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(0, 127, 150);
}

.botao:hover {
    color: rgb(0, 127, 150);
    background-color: rgba(0, 127, 150, 0.432);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 127, 150, 0.589);
    font-size: 20px;
}

h4 {
    color: rgb(0, 127, 150);
    background-color: #b1dae4;
    padding: 10px;
}

.dados {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e5f2f5;
    margin: auto;
    text-align: center;
    width: 500px;
    height: 400px;
    border-radius: 20px;
}

.link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #e5f2f5;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(0, 127, 150);
}

.link:hover {
    color: rgb(0, 127, 150);
    background-color: rgba(0, 127, 150, 0.432);
}