/* Integrantes do Grupo:
Isabel Barcelos Agualuza 11251101322
Isabela Pereira de Brito 11251100580
João de Lima Vernosi Diniz 11251102193
Raquel Layane Silva 11251101679 */

@charset "UTF-8";

/* importando fonte do google fonts parecida com a da logo */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* fonte para links e conteúdo */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* paleta de cores usadas no site */
:root {
    --cor0: #FEFAFB;
    --cor1: #F2EBE1;
    --cor2: #D9D6D2;
    --cor3: #F2D582;
    --cor4: #83C3CC;
    --cor5: #5A8B9E;
    --cor6: #eca1cf;
    --cor7: #da92be;
    --cor8: #bd7ea5;
    --cor9: #d096db;
    --cor10:#df9f57;
    --cor11:#e4b4d1;
    --cor12:#b7a1ec;
    --cor13:#df7e57;
    --cor14:#83cc87;
    --cor15:#5ec770;
    --cor16:#bd3838;
    --cor17:#a82121;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: var(--cor1);
}

/* CABEÇALHO */
header {
    background-image: linear-gradient(to top, var(--cor6), var(--cor7), var(--cor8));
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

/* ajustando os links do menu */
.menu > a {
    font-family: "Raleway", sans-serif;
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: 500;
    font-size: 16px;
}

.menu > a:hover {
    background-color: var(--cor1);
    color: var(--cor8);
}

/* ajustando a logo */
.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 450px;  
    height: auto;
}


/* BANNER */

.carrossel-section {
    background-color: var(--cor1);
    padding-bottom: 25px;
}

.carrossel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrossel {
    display: flex;
    gap: 20px;
    animation: slide 20s linear infinite;
}

/* subtitulos */
.produto1 {
    color: var(--cor5);
}

.produto2 {
    color: var(--cor9);
}

.produto3 {
    color: var(--cor3);
}

.produto5 {
    color: var(--cor10);
}

.titulo {
    font-family: "Great Vibes", cursive;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: var(--cor11);
    font-size: 60px;
}

/* caixa onde os produtos estao no banner + ajustando imagens */
.item {
    min-width: 250px;
    color: var(--cor1);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.item img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
}

/* loop */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* conteúdo abaixo do cabeçalho */
.conteudo {
    padding-bottom: 30px;
    
}

main {
    background-color: var(--cor1);
}

/* sobre -> configuração para parágrafos */
.sobre {
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* subtitulos */
.subtitulo-proposta {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: var(--cor4);
    font-size: 25px;
}

.subtitulo-missao {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: var(--cor3);
    font-size: 25px;
}

.subtitulo-visao {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: var(--cor12);
    font-size: 25px;
}

.subtitulo-valores {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: var(--cor13);
    font-size: 25px;
}


/* grid 1 e 2 */
.grid-section {
    padding: 40px 0;
    margin: 20px;
}

.grid-title {
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    color: var(--cor12);
    margin-bottom: 30px;
    font-weight: bold;
}

.grid-titulo {
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    color: var(--cor13);
    margin-bottom: 30px;
    font-weight: bold;
}

.product-grid {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-card {
    background: #fff;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px #f7dce9;
    transition: .3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 14px #efc4d8;
}

.product-card img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 14px;
}

.lista {
    font-family: "Raleway", sans-serif;
    text-align: left;      
    padding-left: 20px;    
    margin: 0;  
}

.lista li {
    margin-bottom: 6px;
}


/* titulo dos produtos do grid */
.limpeza {
    font-size: 18px;
    color: #5A8B9E;
    margin-bottom: 8px;
}

.hidratacao {
    font-size: 18px;
    color: #f4a3ff;
    margin-bottom: 8px;
}

.protetor-solar {
    font-size: 18px;
    color: var(--cor3);
    margin-bottom: 8px;
}

.tratamento {
    font-size: 18px;
    color: var(--cor10);
    margin-bottom: 8px;
}

/* rodapé */
footer {
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor7), var(--cor8));
}

footer > p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: var(--cor1);
}

/* lista da página de cadastro */
.list {
    font-family: "Raleway", sans-serif;
    text-align: left;      
    padding-left: 330px;
    padding-bottom: 20px;    
    margin: 0;  
}

.list li {
    margin-bottom: 6px;
}

/* configurações do formulario */
.titulo-formulario {
    font-family: "Raleway", sans-serif;
    color: var(--cor8);
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.form-container {
    width: 550px;
    margin: 30px auto;
    background: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


form label {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
    color: var(--cor8);
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    outline: none;
    margin-bottom: 18px;
    background-color: #fafafa;
}

form input:focus,
form textarea:focus {
    border-color: var(--cor8);
    box-shadow: 0 0 5px rgba(189, 126, 165, 0.4);
}

textarea {
    resize: none;
    height: 100px;
}

/* botões */
button {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    background-color: var(--cor8);
    color: white;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: var(--cor7);
}

.link {
    display: flex;
    justify-content: center; /* alinha no centro horizontal */
    gap: 20px; 
    padding-bottom: 40px;
}

.botao {
    text-decoration: none;
    padding: 14px;
    border-radius: 10px;
    background-color: var(--cor8);
    color: white;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    
    margin: 0 auto;
}

.botao:hover {
    background-color: var(--cor7);
}


/* tabela que exibe os dados na página dados.php */
.tabela-produtos {
    width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    border-collapse: collapse;    
}

.tabela-cabecalho {
    background-color: var(--cor8);
    font-family: "Raleway", sans-serif;
    color: white;
}

.tabela-produtos th,
.tabela-produtos td {
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

/* configurações dos botões editar e excluir */
.botao-acao {
    padding: 0.5rem;
    margin: 0 0.3rem;
    font-size: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.editar {
    background-color: var(--cor14);
    color: var(--cor1);
}

.editar:hover {
    background-color: var(--cor15);
}

.excluir {
    background-color: var(--cor16);
    color: var(--cor1);
}

.excluir:hover {
    background-color: var(--cor17);
}